<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <img routerLink="/home" class="image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAc4AAABtCAMAAAAfx3F2AAAAnFBMVEUAOGP
        ///8AKlsAMV9ee5adp7UANGAALFwAJFgAL16/zdent8UANGEzWXv6/P0AJlnw8/YAH1VbdI5jf5iGm641UnScrr0fRGrb3uPk5+qxwc3g5+2XobE/WXmSpbY3XH0
        AGVPEydLH09zR2+NQb4whTXN4h5yUprd3j6W8yNIRPmfq7vJKaIYlUHV1jaNne5MADU4AF1MAAE5rh59cfKfeAAAMo0lEQVR4nO1de3+aPBsGsgWjCGKtdLqpE62
        Kh25Pv/93ewMkQJI7dlXUt4Hrt/3RcEruK7lPOWh9Mw1b3xawf3SFboWlrcJCpsEZSnwukfvoOt0CxAL4tMyDO5Ta2E3wo+t0C2CAz0fX6RZwVlIjl5b36DrdAgC
        fj67STeCsJH0bW2aOT7xrAp1U38p8ekby6XnLJtBpubK+7SaN0LePrs+toOhbY+1ntwl00vGp2E9D+dw1gU7Vfho6PgX7+ejK3BCq/bQcQyD4dVX7+ShZ3wNqvPL
        zuxnok2o7sddtAp1U3w5sI7Gfu9V2epjz+ShJ3weK/TQF+z6qtrOwn48S9J2g2E9TMFiL+pbZz0fJ+V5Q7KcpGEj6FmXxyqPEfDeYq2/ngD/0KCnfD+bq26NoP1N
        9+ygh3xHKfJkpGBwl+9ltAp3NsZ9e91EivisaYz+TR0n4vnAPjxb8jTBYC/bTyEldAAt52t4UDPrux603Dp3ux5L5mhgcGsinuXRS+2nkvN9ZGEyn3XMeLd27o6X
        TKLR0GoWWTqPQ0mkUWjqNQkunUWjpNAotnUahpdMotHQahZbOEl6gwHHRmbk15HbCxWIRdhwi3uUyAM/Cl7y0CKl3lxddorkqoKWzlNphN5ExHr1FgUbMLhrOulP
        6ncFy/Bp1Kvwkm82MYjNSDivwoll+abauXkIHWrpZwR/yVukjm5OO7SpaOkuZPoFv2XcP0CgjyXZaWcqxnzyXd5Exr4E0pDCa8CvCbA+J07I4BOvljrInlv8y33e
        Wzn08np22s96LvAXCH1BAT4gXsr9E6BazqHcO1G/8++tykdVCJ8VG1bjBcCq3YEQKikiPFY46orQ3rHwnvBGxM0gO4ADkdP5La87Q2X1ddxyXEDcI16+xcGk67/f
        7wDoG/9Dvr0elPI99CfPhaKI+RrGS78ywEvk8AK870x1ro9OeyIar0wPuiqPiNpfvXTsFlacCLpo4EPrHgjUiBidoa6EzPiyoffcQIcizMAkP++rVpYuQoxwP4q8
        c7MzLv8cdLMGj3gOGRPGM5Fsp0FH4qJ3IN9HXhUkMvC5DfXTaPWGUYQQvySkXEGLnhZW9lzoy2LKyqbh2CRULtr5B/k4ddM48ZHkOOry9vr71Uz8MYWFY7ShT1ov
        00LtjuYeK/hs7Fg7CKgKH9o1gZCt4TvuMK8FZi3RG2CLVt3UC16N+Hzzea6XTPlYJ8MoO6Qsaf3/gfHhrpowHQ85nsWzyh7gtynKLzhFD2rYGOke0Ds7z5kem7PY
        vpwTRLrmp3kGpQmvRfmxdC82nwj04Wr5UsRunOzAD9RinZw9H25GMmahsI0xef1RfNxnR13m68XkhnctdBbw548q7OrNC/Kd5lETz16I908KXJXNW9wFbI4qOrMC
        XFjHhflnlIcDn9XSOF5YVbiuyjOd0oLmCiqFWvqhy/lBgeZ5AMJVBpHhMI9oP1OX3lM75h2t+I+z8lIr8k2MRzerSC+l8Dsu4s/PnlBfG5egsaj9d/SVeqvLJ4sA
        VVXdRsMD1VL5GFCVcEnPJRXV/l1VeAs7t1XTuOnQsShZuG1j4rzAMth3LrVAwWdA4XByuKZ2iurTTzolwJLuFGZ0fbiEG6KTS8SykvC7DhXT+EgxbJ1fl+zKE7DD
        q4srWQxRx0ZTeqfvGimJqJLyIPeW/S7US+zYQe15L554aMlfxV74RR3Q0fWoVymNQqOuNE+llIJ1UkWNVPV5OJyVNYz1rodPNh2dJJ+EmVliYjbga2pUcFz5CepY
        IF40UutC7hMp31TpfS+eMCmirlA76G0kb+nNEvbW8MD3NhshdAKZz5lrymVzX0EnDa+c7eHstdJL3rLBCJ6v7KBCedguWy2gj4N5G9z9up6SnqM/EFFzMevhcGZ7
        X0plQcwDYMVXa+yOyOtnHppTNv8oYgenc0gCoxtF5WzrxIm9V4ePgdX7XVE7ShIzmTeWrDk8PcdO6UaoUMqmtWCphWTedXapDx0opiCntis4259XZKJdBOvdHjJ+
        V3nKFsqV0QpHsFa5QhyPw1rO8qoUOZaM18/1FqTOFFle+KnmPqVMiwTuyp0LCurhiPa+k86drEW1oLuHFw1anl+4fYDZGAOTZTocEYv5yOmnzEVzdC+mMl7+XS/Y
        /5r1xy9ljA85XEnLer5z4aVQpFPXQUj3Pkvso74Tw4SnX+ko6qXySjwRbYJe2igbPzjtwkdKZSJHkW0KoL6eq8oxOvwT4MYhO+g0vgutWYxphULyK5cKma4UZ5q4
        P5kI6dl3mWuJISeJhNjh/UJOK8jf7cux5HZ3+0QPiQi2orqN9UDnoL0Mae0uJHoQtnADDMM0KpXOHOf5Th2+KNI0QL6voregnAljX1knnU+Gvevlwe1EnWdiVwUE
        grUxU7oGzSXnV01QgT8TLseeVdCYW+qZvmIKUM9TXXyICENU3+KDGic9CUx3Ydqfxm/g6h/bk4A28uU46x6Wh/CydhWykHacZcD/v2S/ZduKQiUXS41fTSSDNqcU
        rwQkcx6d0Dt8FPB0iapr7QBrBwmUy5o9udKoNwIH2BLPa6BxXFht8mk4rzEU8ARI+Aeu272GquUIm9q6YiL/v6KSuEwbCkUwMtAaKlzJ9dywyl0up7TzufheAu4c
        0OlOJomiszQ3WRGd8qMaKzHbujzKfmGWw932JTibiiRxxpo+wuvfY4gf2pxh73tV2fppO2z4R1dz9Y85WsJ00Po7OueCXe7a/f9P/y3zU+yvhNTwoUuIJ0LOtiBi
        gU2f0d0IQdE/P1r6AzkGC0UHi7pJAhVo0Rzc5luLKuHPBcnRLIVjkhqgns8PjTkXsejotTcXFKOiOcWd+/yfpTKeBQom7S+gczD2vf+aha7NCfEJhWLVlPCs0kGN
        Il909k/MLWjo1Dh/Frmpnb5UVgg3aBXTSFodS+UVpBNrqAHaaMlxLJ0+2i/k8Fh6mM0hVFPn2tRyO6OjE6uQhhzA8b5SzXf4FVhHYl9BJyztSEv6yrNCQhrHwp1N
        cnbPlwtlW+SQ8/fUklHLLv1PWh+jodGa2FtXheaMZlWfkgDHB5+l8J9aiBmWbLWU8E1RdTSe38HshBeTwxg7Ls8rdOS9UZ0Q0dGK2cmbKF2Fs039bpgKP5Ri/zXw
        ntSAEzP18ns41xlYNrpCdWeGOxgbUMaPCXc9N1Rtyiw40CwKCMELOovj1xZ6SZNfRyQdnHnNyhGzsT8qhz+js/gllqO3Tr0YQzaf/FFg4BCX3aTqpR0rkyPZCOqc
        WVl5V4Ho6uXnzhTNtOoU77fdeV/3D26ZofgwsxdMpWxbXSPwTZd6T0elPFYx1mkAW+MKywlOFo+XRtbAmKvgknf6MNkD2hC5eKzRyrFB3cFkN853c6AiuJk4qht+
        vLt3e/wKWbsF0umxwyhNtfGJlV1TehV0W+4ydlpF+xF1vXthKvicLWdjTOJHn6XyXplROz6Sqrzgonf1Y7X9TgWKAzv3aU2JYjjqmrztQHlVewsgxOEDrZDV05iI
        bYGUbC5tYKb6op1NZzX12nS0u1tkSbJFEF7GfpxNJUyrEszznCZi+BkUcCUt5wQmyALDzOeqgkwcrohb1CCS2eA3u8gLpdNiwHyl15IuoC4VQB53iKnjPDVday/Y
        zQImGTmUVfLYMPgLED9PpJQKdCQoUOv0j8qAZN7uulXxMQCdRKTonucn+jMBdEqKTr2WcAiez8t0FfHjWQme2RyV0XOK6Qee4PZMm+n7sa7wYdY9K/6DZpBItFL+
        NYiGmp+b9o5rfoAaEwA3+PJ3ZxPkvcb7ykM2qK/PVbjSuErqf9Akw35Mi2KXvtSfV2pBt/i11cKbznvkEPn+A0umD+Byd6Q6yHryDTICv2U0G7iDT7fn6oYFwO/z
        4ngJ85yfpxOthBmnA4ENW+ibPzuHAeqvu79Se58heICxSYGXyt3J4+bUheyN+HmowVzpQu7+zIuP8p9AV6cLF6f263dfQezFQptmBi8SLWPej7epHWzqNQkunUWj
        pNAotnUahpdMotHQahZZOo9DSaRRaOo1CS6dRaOk0Ci2dRqGl0yi0dBqFlk6j0Bg6m/GDrI2hU9k6YiQaQ+dL8i+Hb391NIZO+yVqAJ/NodOeNoDPBtFpT4GTYAx
        Dk+i0Y+PtZ6PoNF/fNotO4/lsGJ3UvzXafspnFJgEiE47Vk+tNAjk9buxeKsq1oLkpdH5PuIYC8FMloN26Rmtb5uBihLeGT0+m4GqUe22fH51CE6S2fazCRCd3tZ
        +fnFIQcxOOTGkxVeCHJS2+vZLQ0kytHx+ZahJo6VFdIcOtPg/B3Sw8/Jbiy+K/wFv6m15QYivtgAAAABJRU5ErkJggg==" alt="">
      <!-- <a class="navbar-brand" style="color: rgb(121, 121, 249)" routerLink="/home">RoyalCyber Inc.</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/list-order">Order-list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-order">Add-Order</a>
          </li>
          
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-primary mr-3"(click)="logout()">logout</button>
  <button class="btn btn-outline-primary" (click)="login()" >Login</button>
  <button class="btn btn-outline-primary" (click)="setting()" >Setting</button>
        </form>
      </div>
    </div>
  </nav>
